<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png"
        class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{user?.username}}</h5>
        <p class="card-text"><small class="text-muted">{{user?.email}}</small></p>
        <p class="card-text"><small>Ownership : </small> {{user?.products?.length}}</p>
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-sm btn-outline-secondary">View</button> -->
          <button *ngIf="!callingApi" type="button" class="btn btn-sm btn-outline-danger"
            (click)="deleteUser()">Delete</button>
          <div *ngIf="callingApi" class="spinner-border" role="status"></div>
        </div>
      </div>
    </div>
  </div>
</div>