<div class="text-center" data-new-gr-c-s-check-loaded="14.1094.0" data-gr-ext-installed="">
  <main class="form-signin w-100 m-auto">
    <div class="formCont">
      <img class="mb-4" src="../../../assets/images/aqaratLogo.png" alt="" width="72" height="57">
      <h1 class="h3 mb-3 fw-normal">Add New Product</h1>
      <div class="form-floating">
        <input [(ngModel)]="title" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
        <label for="floatingInput">Title</label>
      </div>
      <div class="form-floating">
        <textarea [(ngModel)]="address" class="form-control" id="floatingInput"
          placeholder="name@example.com"></textarea>
        <label for="floatingInput">Address</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="type" class="form-control" id="floatingInput" placeholder="type" />
        <label for="floatingInput">Type</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="country" class="form-control" id="floatingInput" placeholder="Country" />
        <label for="floatingInput">Country</label>
      </div>
      <div class="form-floating">
        <input [(ngModel)]="price" type="number" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Price (EGP)</label>
      </div>

      <div class="form-floating">
        <input [(ngModel)]="coverImg" type="text" class="form-control" id="floatingPassword" placeholder="Password">
        <label for="floatingPassword">Cover Image URL</label>
      </div>

      <div class="checkbox mb-3">
        <!-- <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->
      </div>
      <button *ngIf="!callingApi" class="w-100 btn btn-lg btn-primary" (click)="submit()">Submit</button>
      <div *ngIf="callingApi" class="spinner-border" role="status"></div>
      <p class="mt-5 mb-3 text-muted">© 2023</p>
    </div>
  </main>
</div>